.App-Section{
  font-family: 'GLADIATOR SPORT Regular';
  font-style: normal;
  font-weight: normal;
  src: local('GLADIATOR SPORT Regular'), url('../src/fonts/GLADIATOR\ SPORT.woff') fomat('woff');
}

