.App-Section {
  font-family: "GLADIATOR SPORT Regular";
  font-style: normal;
  font-weight: normal;
  src: local("GLADIATOR SPORT Regular"),
    url("../src/fonts/GLADIATOR\ SPORT.woff") format("woff");
}

html,
body {
  overflow-x: hidden;
}

.elementsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.toolbar {
  position: relative;
  max-width: 100%;
  padding: 10px 30px;
  background-color: #b0afaf;

  z-index: 12;
}

.footer {
  background-color: #b0afaf;
}

.navLink,
.navLink button {
  color: #46120a;
  text-decoration: none;
  font-style: none;
  transition: all 0.3s ease-in;
}
.navLink button:hover {
  color: #ffc857;
  transition: all 0.3s ease-in;
}

.coverImg {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  left: 0;
  background-size: cover;
  background-position: center;
}

.screenCover {
  background-image: url("./assets/images/code_gauntlet_screen.png");
  z-index: -12;
}
.frameCover {
  background-image: url("./assets/images/code_gauntlet_frame.png");
}

.pageDiv {
  display: flex;
  justify-content: center;
}

.elementsWrapper {
  max-height: 80vh;
}

.flex {
  display: flex;
  flex-direction: row;
}

.around {
  padding: 10px;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.signInForm {
  justify-content: space-evenly;
  display: flex;
  padding: 15px;
}
.signInFormItem {
  display: flex;
  align-self: center;
  justify-content: center;
}

.h1 {
  font-size: 250%;
  margin-bottom: 15px;
}

.exampleButton {
  z-index: 12;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
